/vendor/
/node_modules/
/.env
/.env.*
!/.env.example
/.phpunit.cache/
/.phpstan.cache/
/tests/_reports/
/public/css/
/public/js/
/playwright-report/
/test-results/
/.scratch/
.DS_Store
.idea/
.vscode/
